.DS_Store?
tools/Pandemonium Importer/build/*
*.pbxuser
XCode/build/*
lib/vstsdk2.4/*
lib/pd-for-android/*
lib/libpd/*
lib/libpd
lib/pdlib-framework/build/*
lib/pdlib-dylib/build/*
dist/packages/*
XCode/VST/mac/build/*
dist/*.zip
dist/pandemonium-au/